<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
    <div class="logo"> Header Logo</div>
    <ul class="links">
        <li>header link one</li>
        <li>header link 2</li>
        <li>header link 3</li>
    </ul>
    </div>
    <div class="upper">
        <div class="para">
        <div class="main-text">This website is awesome.</div>
        <div class="sub-text">This website has some subtext that goes here under the main title and its 
            smaller title and the color is lower contrast.
        </div>
        <button>Sign Up</button>
        </div>
        
        <img src="image.jpg" alt="This is a image holder">
    </div>
    <div class="middle">
        <div class="title ">Some Random Information</div>        
        <div class="container">
            <div class="info">
                <div class="box">Empty</div>
                <div class="text">this is some subtext under the image or an illustration</div>
            </div>
            <div class="info">
                <div class="box">Empty</div>
                <div class="text">this is some subtext under the image or an illustration</div>
            </div>
            <div class="info">
                <div class="box">Empty</div>
                <div class="text">this is some subtext under the image or an illustration</div>
            </div>
            <div class="info">
                <div class="box">Empty</div>
                <div class="text">this is some subtext under the image or an illustration</div>
            </div>
        </div>
    </div>

    <div class="quote">
        <div class="it">"This is an inspiring quote,or a testimonial from a customer.Maybe it's just
            filling up space,or maybe people will actually read it , who knows? All I 
            know is that it looks good."
            <div class="nam">
                -Joe Rogan,Podcaster
            </div>
        </div>
        
    </div>
    <div class="message">
        <div class="t">
        <div class="callto">Call to action! It's time </div>
        <div class="sign">Sign up for our product by clicking that right over there</div>
        </div>
        <button>Sign Up</button>
    </div>
    <div class="footer">
        <div> Copyright@ The Odin Project 2021 </div>
    </div>

    </div>
</body>
</html>